// Resource.rc
#include "resource.h"
GLFW_ICON			ICON "icons/gpu.ico"
IDT_VERT_SHADER		RCDATA "colors.vert"
IDT_FRAG_SHADER		RCDATA "colors.frag"
IDT_VERT_LIGHT_CUBE	RCDATA "light_cube.vert"
IDT_FRAG_LIGHT_CUBE	RCDATA "light_cube.frag"
