// Resource.rc
#include "resource.h"
GLFW_ICON ICON "icons/gpu.ico"
IDT_VERT_SHADER RCDATA "transformations_exercise1.vert"
IDT_FRAG_SHADER RCDATA "transformations_exercise1.frag"
IDI_CONTAINER	RCDATA "textures/container.jpg"
IDI_AWESOMEFACE	RCDATA "textures/awesomeface.png"
