// Resource.rc
#include "resource.h"
GLFW_ICON ICON "icons/gpu.ico"
IDT_VERT_SHADER RCDATA "hello_triangle_exercise3.vert"
IDT_FRAG_SHADER RCDATA "hello_triangle_exercise3.frag"
IDT_FRAG_SHADER_2 RCDATA "hello_triangle_exercise3_2.frag"
